.cover-section{
    padding:0;
    height: calc(100vh - 8vh);
    overflow: hidden;
    padding-top: 8vh;
    display: flex;
    justify-content: center;
    position: relative;
    
}
.cover-left,
.cover-right{
    height: 100%;
    width: 50%;
    position: relative;
}
.cover-left{
    position: relative;
    padding: 0 5vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}
.cover-left a{
    margin-top: 2em;
    padding: 16px 74px;
    background: var(--blue);
    border-radius: 8px;
    color: white;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 200ms ease-in-out;
}
.cover-left a:hover{
    cursor: pointer;
    background: var(--dark-blue);
}
.cover-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cover-right a:nth-child(even){
    transform: translateX(55%);
}
.cover-right a:nth-child(odd){
    transform: translateX(-55%);
}
.blob{
    position: absolute;
    z-index: -1;
    animation-name: showBlob;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
.ilustration{
    width: 20vw;
    margin-bottom: 32px;
}
.blob:nth-child(1){  
   top: 0vh;
   right: -10vw;
   transform: rotate(180deg);
}
.blob:nth-child(2){  
    bottom: -15vh;
    left: -10vh;   
    transform: rotate(0deg);
}
@keyframes showBlob{
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
}


@media  (max-width:1000px) {
    .cover-section{
        height: auto;
        flex-direction: column;
    }
    .cover-left,
    .cover-right{
        padding: 0;
        min-height: 0;
        margin: 0;
        height: auto;
        width: 100%;
    }
    .cover-left p,
    .cover-left h1,
    .cover-left h2,
    .ilustration{
        margin: 5px 20px;
    }
    .cover-left{
        margin-top: 4vh;
    }
    .cover-right{
        margin-bottom: 4vh;
    }
    .cover-section h1{
        font-size: 4em;
        margin-bottom: 40px;
    }
    .cover-section h2{
        font-size: 2em;
    }
    .cover-left a{
        margin: 50px 20px;
    }
    .ilustration{
        display: none;
        width: 50%;
    }
    .blob:nth-child(2){
        display: none;
    }
    .blob:nth-child(1){
        top: -5vh; 
        right: -50vw;
        transform: rotate(90deg);
    }
    .cover-right a:nth-child(even){
        transform: translateX(0);
    }
    .cover-right a:nth-child(odd){
        transform: translateX(0);
    }
    
}




