.card{
    position: relative;
    margin: 8px;
    padding: 8px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    text-decoration: none;
    background: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 200ms ease-in-out;
}
.card:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.card svg{
    margin-right: 8px;
}
.card:hover svg{
    fill: var(--dark-blue);
}

