@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500&family=Krona+One&family=Lora:wght@400;600&family=Montserrat:wght@400;700&display=swap');
:root{
    --red: hsl(4, 82%, 63%);
    --light-red: hsl(11, 100%, 76%);
    --coral: hsl(16, 100%, 66%);
    --black: hsl(0, 0%, 8%);
    --blue: #a6c8c9;
    --dark-blue: hsl(182, 24%, 62%);
    --light-blue: hsl(182, 24%, 82%);
    --mobile: 900;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    font-size: 16px;
    scroll-behavior: smooth;

}

h1{
    font-family: 'Lora', serif;
    font-size: 1.5em;
    color: var(--black);
    margin-bottom: 1em;
}
h2{
    font-family: 'Lora', serif;
    font-size: 1.2em;
    color: var(--black);
    margin-bottom: 0.5em;
}
p, a, span, button{
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1em;
    color: var(--black);
    margin-bottom: 0.2em;
}